/* Animations, etc */
@keyframes fadeInLeft {
    to {
        opacity: 1;
        transform: translateX(0vw);
    }
}

@keyframes fadeInRight {
    to {
        opacity: 1;
        transform: translateX(0vw)
    }
}

@keyframes fadeInDown {
    to {
        opacity: 1;
        transform: translateY(-100vh);
    }
}

body {
    background-color: rgb(20, 20, 20);
    background-image: url("../images/HomePageBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/*Products Section*/
.all-products {
    height: 75vh;
    border-bottom: 3px solid black;
    overflow: hidden;
}

.all-products > div {
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.all-products * h1 {
    margin: 0;
    padding-top: 5vh;
    font-size: 50px;
    font-weight: bold;
    color: var(--text-color);
}

.product-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 4vw;
    padding-right: 4vw;
    padding-top: 5vh;
}

.product-box > a > img {
    width: 22.5vw;
    height: 47.5vh;
}

.product-box > img {
    width: 22.5vw;
    opacity: 1;
}

.product-box > a:nth-child(1) > img {
    padding-top: 100vh;
    animation: fadeInDown 1s forwards;
    animation-delay: 0s;
}

.product-box > a:nth-child(2) > img {
    padding-top: 100vh;
    animation: fadeInDown 1s forwards;
    animation-delay: .2s;
}

.product-box > a:nth-child(3) > img {
    padding-top: 100vh;
    animation: fadeInDown 1s forwards;
    animation-delay: .4s;
}

.product-box > a:nth-child(4) > img {
    padding-top: 100vh;
    animation: fadeInDown 1s forwards;
    animation-delay: .6s;
}

/* Items Section */
.items {
    height: 150vh;
    margin-top: 5vh;
    padding-left: 8vw;
    padding-right: 8vw;
    overflow: hidden;
}

.item-category > h1 {
    font-size: 2em;
    color: var(--text-color);
}

.items > .item-category:nth-child(1) {
    opacity: 0;
    transform: translateX(100vw);
    animation: fadeInRight 1s forwards;
}

.items > .item-category:nth-child(2) {
    opacity: 0;
    transform: translateX(-100vw);
    animation: fadeInLeft 1s forwards;
    animation-delay: .1s;
}

.items > .item-category:nth-child(3) {
    opacity: 0;
    transform: translateX(100vw);
    animation: fadeInRight 1s forwards;
    animation-delay: .2s;
}

.items > .item-category:nth-child(4) {
    opacity: 0;
    transform: translateX(-100vw);
    animation: fadeInLeft 1s forwards;
    animation-delay: .3s;
}

.item-rows {
    display: flex;
    justify-content: space-between;
}

@keyframes enlargeItem {
    to {
        width: 22vw;
        border: 1px solid white;
    }
}

.item-rows > a > img {
    width: 20vw;
    height: 20vh;
    object-fit: cover;
    object-position: center;
}

.item-rows > a > img:hover {
    animation: enlargeItem .2s forwards;
}