html {
    --primary-color-1: #ffffff;
    --secondary-color-1: #ffffff;
    --background-color-1: #E8E8E8;
    --background-color-2: #4f4f4f;
    --text-color: white;
    --text-color-2: black;
    font-family: 'Inter', serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color-1);
}

/*Introduction Styling*/
.introduction {
    background-color: var(--background-color-2);
    height: 10vh;
    outline: 2px solid rgb(60, 60, 60);
    overflow: hidden;
}

.introduction > a {
    position: absolute;
    float: left;
}

.introduction > a > img {
    padding-left: 1vw; 
    height: 10vh;
}

.introduction > p {
    line-height: 1.5em;
    font-size: .75em;
    padding-left: 12vw;
    padding-top: .3em;
    margin: 0;
    color: var(--text-color);
}

/*Navigation Bar Styling*/
.navbar {
    background-color: var(--background-color-2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
}

.navbar > span {
    padding-right: 20vw;
}

.navbar > ul {
    margin: 0;
    padding: 0;
    padding-left: 20vw;
    list-style-type: none;
}

.navbar > ul > li {
    float: left;
    padding-right: 2vw;
}

.navbar * a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.hover-underline {
    display: inline-block;
    position: relative;
}

.hover-underline::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transition: transform 0.25s ease-out;
}

.hover-underline:hover::after {
    transform: scaleX(1);
}